* {
  box-sizing: border-box;
}

body {
  color: #121212;
  font-family: "New Tegomin";
}
.header {
  border: 1px solid red;
  background-color: #cecece;
  padding: 0px;
}
.frame {
  align: center;
  padding: 20px;
}

[class*="col-"] {
  width: 100%;
}

